@charset "UTF-8";

header > img{
    display: flex;
    margin: auto;
}

header > ul {
    display: none;
}

header > button {
    display: none;
}

#linha {
    position: fixed;
    top: 80px;
    height: 1px;
    background-color: white;
}

#pg01 {
    display: flex;
    width: 320px;
    background-color: rgb(26, 127, 189);
}

#maskgroup {
    display: none;
}

#line1 {
    display: none;
}